[Unit]
Description=CPU Control

[Service]
Type=simple
ExecStart=/usr/local/bin/cpu-control
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=default.target
